pip==21.1
bumpversion==0.5.3
wheel==0.38.2
watchdog==0.8.3
flake8==3.4.1
tox==2.9.1
coverage==5.5
Sphinx==3.2.1
cryptography==41.0.3
PyYAML==5.4.1
pytest==3.2.3
pytest-runner==2.12.1
pytest-catchlog==1.2.2

piexif
filetype
jmespath
python-box
python-frontmatter